* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  
}
body {
  background-color: rgb(19, 2, 23);
}
.navbar ul li ul {
  transition: all .2s;
  display: none;
}
.navbar ul li:hover>ul{
  position: absolute;
  top: 50px;
  background-color: rgba(8, 8, 8, 0.653);
  width: 15%;
  display: block;
  text-align: left;
  padding: 30px 20px;
  color: white;
border-radius: 5px;  
}
.navbar ul li:hover>ul li:hover{
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(52, 4, 52, 0.421);
  background-color: rgba(48, 13, 48, 0.915);
}
#navbar {
  background-color: rgb(19, 2, 23);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90px;
  
}
.logo img {
  width: 120px;
  border-radius: 7px;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  width: 100%;
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  width: 100%;
}

.navbar ul li {
  list-style: none;
}

#search {
  width: 330px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid white;
  text-align: center;
  color: white;
}

/* button{
    background-color: rgb(11, 11, 11);
    color: rgb(255, 252, 252);
    font-size: 16px;
    border-radius: 9px;
    padding: 6px 34px;
    cursor: pointer;
    border: 1px solid white;
    
  } */
.loginbtn {
  height: 40px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: rgba(47, 1, 1, 0);
  color: white;
  padding: 6px 15px;
}
.loginbtn:hover {
  background-color: rgb(149, 93, 206);
}

.loginbtn>a{
  color: aliceblue;
    text-decoration: none;
  
}


.plan {
  height: 40px;
  border: 1px solid white;
  background-color: rgb(149, 93, 206);
  color: rgb(16, 15, 15);
  /* font-size: 16px; */
  border-radius: 9px;
  padding: 6px 15px;
  width: 25%;
}
.plan:hover {
  background-color: rgb(175, 163, 163);
}
.parent {
  /* border: 1px solid red; */
  display: flex;
  gap: 15px;
  margin-left: 100px;
}

li>a:hover {
  box-shadow: 1px 1px 10px rgb(149, 79, 169);
  border-bottom: 2px solid white;
  width: 100%;
}

.slide {
  position: relative;
  top: 100px;
  margin-left: 125px;
  /* border: 2px solid white; */
  height: 500px;
}
.slide > img {
  z-index: -1;
}
/* #watch {
  z-index: 1;
  margin-top: -900px;
} */

#previous {
  color: white;
  font-size: xx-large;
}
#previous:hover {
  box-shadow: 1px 1px 10px rgb(238, 234, 239);
}
#next {
  color: white;
  font-size: xx-large;
}
#next:hover {
  box-shadow: 1px 1px 10px rgb(238, 234, 239);
}

#trending {
  /* border: 1px solid white; */
  z-index: 1200;
  /* position: fixed; */
  position: relative;
  margin: 50px 100px 0px 50px;
}
#trending> h3 {
 
  color: antiquewhite;
}

.trending {
  /* border: 1px solid white; */
  display: grid;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.trending > div {
  transition: all 0.5s;
}
.trending > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}

#Top {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}


#main_carousel{
  /* z-index: 1200; */
  /* position: fixed; */
  position: relative;
  margin: 50px 100px 30px 50px;
  color: aliceblue;
}
.cell{
   /* width:33%;
  height: 350px;  */
  margin: 0 15px;
  overflow: hidden;

  /* border-radius: 8px; */
}
.cell img{
  width:95%;
  /* height: 350px; */
  object-fit: cover;
  transition: all .5s;
  border-radius: 5px;
}
.cell img:hover{
  cursor: pointer;
  transform: translateY(-10px);
  width: 100%;
}

#Top {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}

.Top {
  /* border: 1px solid white; */
  display: grid;

  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Top > div {
  transition: all 0.5s;
}
.Top > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}

#Latest {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}
.Latest {
  /* border: 1px solid white; */
  display: grid;

  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  margin: 0px 0px 0px 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Latest > div {
  transition: all 0.5s;
}
.Latest > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}
h5 {
  color: antiquewhite;
}

#world {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}
.world {
  /* border: 1px solid white; */
  display: grid;

  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.world > div {
  transition: all 0.5s;
}
.world > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}

hr{
  color: white;
  opacity: 1;
  border-top: .5px solid rgb(6, 6, 6);
  /* width: 80%; */
  margin:20px auto;
}

#learn {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}
.learn {
  /* border: 1px solid white; */
  display: grid;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 0px 0px 0px 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.learn > div {
  transition: all 0.5s;
}
.learn > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}

#live {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}
.live {
  /* border: 1px solid white; */
  display: grid;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 0px 0px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.live > div {
  transition: all 0.5s;
}
.live > div:hover {
  transform: scaleX(1.1);
  z-index: 2;
}

#rent {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}

.rent {
  /* border: 1px solid white; */
  display: grid;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 0px 0px 0px 90px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

#fav {
  margin: 50px 100px 0px 50px;
  color: antiquewhite;
}
.fav {
  /* border: 1px solid white; */
  display: grid;
  padding: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(10, 1fr);
  /* gap: 20px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.fav img {
  border-radius: 50%;
}

#parent {
  display: flex;
  border:0px solid red;
  color: white;
  justify-content: space-between;
}

#parent > div:nth-child(1) {
  border:0px solid blue;
  display: flex;
  padding: 20px;
  width: 33%;
  justify-content: space-between;

}

#parent > div:nth-child(2) {
  border: 0px solid green;
  display: flex;
  padding: 20px;
  width: 28%;
  justify-content: space-between;

}
#parent > div:nth-child(1) img {
  height:35px;
}

#parent > div:nth-child(2) img {
  height: 30px;
}

#foot2{
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  margin-left: 20px;
}

#foot2 > a {
color: aliceblue;
text-decoration: none;
}

#foot2 >span{
  color: aliceblue;
}

#foot2 >a:hover{
  color: rgb(134, 15, 147);
}
#foot3{
  display: flex;
  justify-content: space-around;
}

h6{
  color: aliceblue;
}

#foot3{
  /* border: 1px solid white; */
  margin: 50px 100px 0px 50px;
}
#foot3>div>p{
  color: rgb(127, 128, 130);
}

#foot3>div>p:hover{
  color: rgb(134, 15, 147);
  cursor: pointer;
}

#foot4{
  /* border: 1px solid white; */
  margin: 50px 100px 50px 50px;
}
#foot4>p{
  color: rgb(127, 128, 130);
}
